In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 6)


import warnings
warnings.filterwarnings("ignore")

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

<h2 align="center" style="color:green"> Load data</h2>

In [2]:

limit_rows   = 4000000
df           = pd.read_csv("C:/Users/khadi/Desktop/PFA/santander/train_ver2.csv",dtype={"sexo":str,
                                                    "ind_nuevo":str,
                                                    "ult_fec_cli_1t":str,
                   
                                                   "indext":str}, nrows=limit_rows,low_memory=False)

<h2 align="center" style="color:green"> Exploratory Data Analysis</h2>

In [3]:

df.head(10)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
6,2015-01-28,1050616,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
7,2015-01-28,1050617,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
8,2015-01-28,1050619,N,ES,H,24,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
9,2015-01-28,1050620,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:

df.shape

(4000000, 48)

In [5]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

<h2 align="center" style="color:green"> Renaming columns</h2>

In [6]:
df.rename(columns ={'ncodpers' : 'CustomerCode'}, inplace = True)
df.rename(columns ={'ind_empleado' : 'EmployeeIndex'},  inplace = True)#: A active, B ex employed, F filial, N not employee, P pasive
df.rename(columns ={'pais_residencia' : 'CustomerRresidence'},  inplace = True)
df.rename(columns ={'sexo' : 'sexe'},  inplace = True)
df.rename(columns ={'fecha_alta' : 'FirstContractDate'},  inplace = True)#The date in which the customer became as the first holder of a contract in the bank
df.rename(columns ={'antiguedad' : 'seniority'},  inplace = True)

'indrel' #1 (premier/principal), 99 (client principal pendant le mois mais pas à la fin du mois)
df.rename(columns ={'ult_fec_cli_1t' : 'LastPrimayCuDate'},  inplace = True)#: Last date as primary customer (if he isn't at the end of the month)
df.rename(columns ={'conyuemp' : 'SpouseIndex'},  inplace = True)#indice de conjoint si le client est un employee 
df.rename(columns ={'renta' : 'GrossIncome'},  inplace = True)
df.rename(columns ={'segmento' : 'segmentation'},  inplace = True)# Segmentation: 01 - VIP, 02 - Individuals 03 - college graduated


#---------------les produits ( commence par  P___)--------------------
df.rename(columns ={'ind_ahor_fin_ult1' : 'P_SavingAccount'},  inplace = True)
df.rename(columns ={'ind_aval_fin_ult1' : 'P_Garantees'},  inplace = True)
df.rename(columns ={'ind_cco_fin_ult1' : 'P_CurrentAccounts'},  inplace = True)
df.rename(columns ={'ind_cder_fin_ult1' : 'P_Derivada_Account '},  inplace = True)
df.rename(columns ={'ind_cno_fin_ult1' : 'P_PayrollAccount'},  inplace = True)
df.rename(columns ={'ind_ctju_fin_ult1' : 'P_JuniorAccount'},  inplace = True)
df.rename(columns ={'ind_ctma_fin_ult1' : 'P_MásParticularAccount'},  inplace = True) #tres particulier 
df.rename(columns ={'ind_ctop_fin_ult1' : 'P_ParticularAccount'},  inplace = True)
df.rename(columns ={'ind_ctpp_fin_ult1' : 'P_ParticularPlusAccount'},  inplace = True)
df.rename(columns ={'ind_deco_fin_ult1' : 'P_ShortTermDeposits'},  inplace = True)
df.rename(columns ={'ind_deme_fin_ult1' : 'P_MeduimTermDeposits'},  inplace = True)
df.rename(columns ={'ind_dela_fin_ult1' : 'P_LongTermDeposits'},  inplace = True)
df.rename(columns ={'ind_ecue_fin_ult1' : 'P_eAccount'},  inplace = True)
df.rename(columns ={'ind_fond_fin_ult1' : 'P_Funds'}, inplace = True)
df.rename(columns ={'ind_hip_fin_ult1' : 'P_Mortgage'},  inplace = True)#الرهن العقاري
df.rename(columns ={'ind_plan_fin_ult1' : 'P_Pensions'},  inplace = True)#retraite
df.rename(columns ={'ind_pres_fin_ult1' : 'P_Loans'}, inplace = True)#Prêts
df.rename(columns ={'ind_reca_fin_ult1' : 'P_Taxes'}, inplace = True)
df.rename(columns ={'ind_tjcr_fin_ult1' : 'P_CreditCard'},  inplace = True)
df.rename(columns ={'ind_valo_fin_ult1' : 'P_securities'},  inplace = True)
df.rename(columns ={'ind_viv_fin_ult1' : 'P_HomeAccount'},  inplace = True)
df.rename(columns ={'ind_nomina_ult1' : 'P_Payroll'},  inplace = True)
df.rename(columns ={'ind_nom_pens_ult1' : 'P_Pensions2'}, inplace = True)
df.rename(columns ={'ind_recibo_ult1' : 'P_DirectDebit'},  inplace = True)

In [7]:
df.columns

Index(['fecha_dato', 'CustomerCode', 'EmployeeIndex', 'CustomerRresidence',
       'sexe', 'age', 'FirstContractDate', 'ind_nuevo', 'seniority', 'indrel',
       'LastPrimayCuDate', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'SpouseIndex', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'GrossIncome', 'segmentation',
       'P_SavingAccount', 'P_Garantees', 'P_CurrentAccounts',
       'P_Derivada_Account ', 'P_PayrollAccount', 'P_JuniorAccount',
       'P_MásParticularAccount', 'P_ParticularAccount',
       'P_ParticularPlusAccount', 'P_ShortTermDeposits',
       'P_MeduimTermDeposits', 'P_LongTermDeposits', 'P_eAccount', 'P_Funds',
       'P_Mortgage', 'P_Pensions', 'P_Loans', 'P_Taxes', 'P_CreditCard',
       'P_securities', 'P_HomeAccount', 'P_Payroll', 'P_Pensions2',
       'P_DirectDebit'],
      dtype='object')

<h2 align="center" style="color:green"> Duplicates rows</h2>

In [8]:
df.duplicated().any()

False

<h2 align="center" style="color:green"> Convert to Date Time</h2>

In [9]:
# df.fecha_dato[1]
df['fecha_dato'] = pd.to_datetime(df['fecha_dato'], format='%Y-%m-%d')
df['FirstContractDate'] = pd.to_datetime(df['FirstContractDate'], format='%Y-%m-%d')
df['LastPrimayCuDate'] = pd.to_datetime(df['LastPrimayCuDate'], format='%Y-%m-%d')
df['fecha_dato'].dtype.type

numpy.datetime64

<h2 align="center" style="color:green"> Spelling errors in categorical data</h2>

In [10]:
df.EmployeeIndex.unique()

array(['N', nan, 'A', 'B', 'F', 'S'], dtype=object)

In [11]:
df.CustomerRresidence.unique()

array(['ES', nan, 'CA', 'CH', 'CL', 'IE', 'AT', 'NL', 'FR', 'GB', 'DE',
       'DO', 'BE', 'AR', 'VE', 'US', 'MX', 'BR', 'IT', 'EC', 'PE', 'CO',
       'HN', 'FI', 'SE', 'AL', 'PT', 'MZ', 'CN', 'TW', 'PL', 'IN', 'CR',
       'NI', 'HK', 'AD', 'CZ', 'AE', 'MA', 'GR', 'PR', 'RO', 'IL', 'RU',
       'GT', 'GA', 'NO', 'SN', 'MR', 'UA', 'BG', 'PY', 'EE', 'SV', 'ET',
       'CM', 'SA', 'CI', 'QA', 'LU', 'PA', 'BA', 'BO', 'AU', 'BY', 'KE',
       'SG', 'HR', 'MD', 'SK', 'TR', 'AO', 'CU', 'GQ', 'EG', 'ZA', 'DK',
       'UY', 'GE', 'TH', 'DZ', 'LB', 'JP', 'NG', 'PK', 'TN', 'TG', 'KR',
       'GH', 'RS', 'VN', 'PH', 'KW', 'NZ', 'MM', 'KH', 'GI', 'SL', 'GN',
       'GW', 'OM', 'CG', 'LV', 'LT', 'ML', 'MK', 'HU', 'IS', 'LY', 'CF',
       'GM', 'KZ', 'CD', 'BZ', 'ZW'], dtype=object)

In [12]:
df.sexe.unique()

array(['H', 'V', nan], dtype=object)

In [13]:
df.indresi.unique()

array(['S', nan, 'N'], dtype=object)

In [14]:
df.indext.unique()

array(['N', 'S', nan], dtype=object)

In [15]:
df.SpouseIndex.unique()

array([nan, 'N', 'S'], dtype=object)

In [16]:
df.canal_entrada.unique()

array(['KHL', 'KHE', 'KHD', 'KFA', 'KFC', 'KAT', nan, 'KAZ', 'RED', 'KHC',
       'KHK', 'KGN', 'KHM', 'KHO', 'KDH', 'KEH', 'KAD', 'KBG', 'KGC',
       'KHF', 'KFK', 'KHN', 'KHA', 'KAF', 'KGX', 'KFD', 'KAG', 'KFG',
       'KAB', 'KCC', 'KAE', 'KAH', 'KAR', 'KFJ', 'KFL', 'KAI', 'KFU',
       'KAQ', 'KFS', 'KAA', 'KFP', 'KAJ', 'KFN', 'KGV', 'KGY', 'KFF',
       'KAP', 'KDE', 'KFV', '013', 'K00', 'KAK', 'KCK', 'KCL', 'KAY',
       'KBU', 'KDR', 'KAC', 'KDT', 'KCG', 'KDO', 'KDY', 'KBQ', 'KDA',
       'KBO', 'KCI', 'KEC', 'KBZ', 'KES', 'KDX', 'KAS', '007', 'KEU',
       'KCA', 'KAL', 'KDC', 'KAW', 'KCS', 'KCB', 'KDU', 'KDQ', 'KCN',
       'KCM', '004', 'KCH', 'KCD', 'KCE', 'KEV', 'KBL', 'KEA', 'KBH',
       'KDV', 'KFT', 'KEY', 'KAO', 'KEJ', 'KEO', 'KEI', 'KEW', 'KDZ',
       'KBV', 'KBR', 'KBF', 'KDP', 'KCO', 'KCF', 'KCV', 'KAM', 'KEZ',
       'KBD', 'KAN', 'KBY', 'KCT', 'KDD', 'KBW', 'KCU', 'KBX', 'KDB',
       'KBS', 'KBE', 'KCX', 'KBP', 'KBN', 'KEB', 'KDS', 'KEL', 'KDG',
       'KDF', 'KEF', 'KCP', 'KDM', 'KBB', 'KDW', 'KBJ', 'KFI', 'KBM',
       'KEG', 'KEN', 'KEQ', 'KAV', 'KFH', 'KFM', 'KAU', 'KED', 'KFR',
       'KEK', 'KFB', 'KGW', 'KFE', 'KGU', 'KDI', 'KDN', 'KEE', 'KCR',
       'KCQ', 'KEM', 'KCJ', 'KHQ', 'KDL'], dtype=object)

In [17]:
df.nomprov.unique()

array(['MALAGA', 'CIUDAD REAL', 'ZARAGOZA', 'TOLEDO', 'LEON', 'GIPUZKOA',
       'CACERES', 'GIRONA', 'ZAMORA', 'BARCELONA', 'SALAMANCA', 'BURGOS',
       'HUESCA', 'NAVARRA', 'AVILA', 'SEGOVIA', 'LUGO', 'LERIDA',
       'MADRID', 'ALICANTE', 'SORIA', 'SEVILLA', 'CANTABRIA',
       'BALEARS, ILLES', 'VALLADOLID', 'PONTEVEDRA', 'VALENCIA', 'TERUEL',
       'CORUÑA, A', 'OURENSE', 'JAEN', 'CUENCA', 'BIZKAIA', 'CASTELLON',
       'RIOJA, LA', 'ALBACETE', 'BADAJOZ', 'MURCIA', 'CADIZ', nan,
       'ALMERIA', 'GUADALAJARA', 'PALENCIA', 'PALMAS, LAS', 'CORDOBA',
       'HUELVA', 'GRANADA', 'ASTURIAS', 'SANTA CRUZ DE TENERIFE',
       'MELILLA', 'TARRAGONA', 'ALAVA', 'CEUTA'], dtype=object)

In [18]:
df.segmentation.unique()

array(['02 - PARTICULARES', '03 - UNIVERSITARIO', nan, '01 - TOP'],
      dtype=object)

In [19]:
df.ind_nuevo.unique()

array([' 0', nan, ' 1'], dtype=object)

<h2 align="center" style="color:green">  Change data type to reduce memory</h2>

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 48 columns):
 #   Column                   Dtype
---  ------                   -----
 0   fecha_dato               datetime64[ns]
 1   CustomerCode             int64
 2   EmployeeIndex            object
 3   CustomerRresidence       object
 4   sexe                     object
 5   age                      object
 6   FirstContractDate        datetime64[ns]
 7   ind_nuevo                object
 8   seniority                object
 9   indrel                   float64
 10  LastPrimayCuDate         datetime64[ns]
 11  indrel_1mes              object
 12  tiprel_1mes              object
 13  indresi                  object
 14  indext                   object
 15  SpouseIndex              object
 16  canal_entrada            object
 17  indfall                  object
 18  tipodom                  float64
 19  cod_prov                 float64
 20  nomprov                  object
 21  ind_actividad_cliente    float64
 22  GrossIncome              float64
 23  segmentation             object
 24  P_SavingAccount          int64
 25  P_Garantees              int64
 26  P_CurrentAccounts        int64
 27  P_Derivada_Account       int64
 28  P_PayrollAccount         int64
 29  P_JuniorAccount          int64
 30  P_MásParticularAccount   int64
 31  P_ParticularAccount      int64
 32  P_ParticularPlusAccount  int64
 33  P_ShortTermDeposits      int64
 34  P_MeduimTermDeposits     int64
 35  P_LongTermDeposits       int64
 36  P_eAccount               int64
 37  P_Funds                  int64
 38  P_Mortgage               int64
 39  P_Pensions               int64
 40  P_Loans                  int64
 41  P_Taxes                  int64
 42  P_CreditCard             int64
 43  P_securities             int64
 44  P_HomeAccount            int64
 45  P_Payroll                float64
 46  P_Pensions2              float64
 47  P_DirectDebit            int64
dtypes: datetime64[ns](3), float64(7), int64(23), object(15)
memory usage: 1.4+ GB

In [21]:
d = dict.fromkeys(df.select_dtypes(np.int64).columns, np.int32)
df = df.astype(d)

d_ = dict.fromkeys(df.select_dtypes(np.float64).columns, np.float32)
df = df.astype(d_)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 48 columns):
 #   Column                   Dtype
---  ------                   -----
 0   fecha_dato               datetime64[ns]
 1   CustomerCode             int32
 2   EmployeeIndex            object
 3   CustomerRresidence       object
 4   sexe                     object
 5   age                      object
 6   FirstContractDate        datetime64[ns]
 7   ind_nuevo                object
 8   seniority                object
 9   indrel                   float32
 10  LastPrimayCuDate         datetime64[ns]
 11  indrel_1mes              object
 12  tiprel_1mes              object
 13  indresi                  object
 14  indext                   object
 15  SpouseIndex              object
 16  canal_entrada            object
 17  indfall                  object
 18  tipodom                  float32
 19  cod_prov                 float32
 20  nomprov                  object
 21  ind_actividad_cliente    float32
 22  GrossIncome              float32
 23  segmentation             object
 24  P_SavingAccount          int32
 25  P_Garantees              int32
 26  P_CurrentAccounts        int32
 27  P_Derivada_Account       int32
 28  P_PayrollAccount         int32
 29  P_JuniorAccount          int32
 30  P_MásParticularAccount   int32
 31  P_ParticularAccount      int32
 32  P_ParticularPlusAccount  int32
 33  P_ShortTermDeposits      int32
 34  P_MeduimTermDeposits     int32
 35  P_LongTermDeposits       int32
 36  P_eAccount               int32
 37  P_Funds                  int32
 38  P_Mortgage               int32
 39  P_Pensions               int32
 40  P_Loans                  int32
 41  P_Taxes                  int32
 42  P_CreditCard             int32
 43  P_securities             int32
 44  P_HomeAccount            int32
 45  P_Payroll                float32
 46  P_Pensions2              float32
 47  P_DirectDebit            int32
dtypes: datetime64[ns](3), float32(7), int32(23), object(15)
memory usage: 1007.1+ MB

<h2 align="center" style="color:green"> Missing Data</h2>

<h3 align="left" style="color:#8FBC8F"> Columns with missing values</h3>

In [23]:
def missing_cols(df):
    '''prints out columns with its amount of missing values'''
    total = 0
    for col in df.columns:
        missing_vals = df[col].isnull().sum()
        total += missing_vals
        if (missing_vals is not 0):
            
            
            print(f"{col} => {df[col].isnull().sum()}")
    
    if total is 0:
        print("no missing values left")
            
missing_cols(df)

fecha_dato => 0
CustomerCode => 0
EmployeeIndex => 27734
CustomerRresidence => 27734
sexe => 27751
age => 0
FirstContractDate => 27734
ind_nuevo => 27734
seniority => 0
indrel => 27734
LastPrimayCuDate => 3995058
indrel_1mes => 27741
tiprel_1mes => 27741
indresi => 27734
indext => 27734
SpouseIndex => 3999471
canal_entrada => 28421
indfall => 27734
tipodom => 27734
cod_prov => 51450
nomprov => 51450
ind_actividad_cliente => 27734
GrossIncome => 701051
segmentation => 28514
P_SavingAccount => 0
P_Garantees => 0
P_CurrentAccounts => 0
P_Derivada_Account  => 0
P_PayrollAccount => 0
P_JuniorAccount => 0
P_MásParticularAccount => 0
P_ParticularAccount => 0
P_ParticularPlusAccount => 0
P_ShortTermDeposits => 0
P_MeduimTermDeposits => 0
P_LongTermDeposits => 0
P_eAccount => 0
P_Funds => 0
P_Mortgage => 0
P_Pensions => 0
P_Loans => 0
P_Taxes => 0
P_CreditCard => 0
P_securities => 0
P_HomeAccount => 0
P_Payroll => 16063
P_Pensions2 => 16063
P_DirectDebit => 0

In [24]:
def perc_missing(df):
    '''prints out columns with missing values with its %'''
    for col in df.columns:
        pct = df[col].isna().mean() * 100
        if (pct != 0):
            print('{} => {}%'.format(col, round(pct, 2)))
    
perc_missing(df)

EmployeeIndex => 0.69%
CustomerRresidence => 0.69%
sexe => 0.69%
FirstContractDate => 0.69%
ind_nuevo => 0.69%
indrel => 0.69%
LastPrimayCuDate => 99.88%
indrel_1mes => 0.69%
tiprel_1mes => 0.69%
indresi => 0.69%
indext => 0.69%
SpouseIndex => 99.99%
canal_entrada => 0.71%
indfall => 0.69%
tipodom => 0.69%
cod_prov => 1.29%
nomprov => 1.29%
ind_actividad_cliente => 0.69%
GrossIncome => 17.53%
segmentation => 0.71%
P_Payroll => 0.4%
P_Pensions2 => 0.4%

<h3 align="center " style="color:#8F7C8F">Save the dataset  </h3>

In [26]:
df.to_csv('./afterCleaning/exploratory_df.csv', index=False)